*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   /*  background-image: url(../assets/bg.jpeg); */
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.taskbar{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #f3f3f3;
    z-index: 10px;    

}
.startmanu{
    position: absolute;
    width: 100%;
    /* bottom: 54px; */
    bottom: -600px;
    text-align: center;
    transition: all 0.3s ease-in;
}
.startmanu img {
border-radius: 8px;

}

.taskbar img{
    cursor: pointer;
    margin: 7px 0;
}
.right{
    position: absolute;
    right: 0;
    overflow: hidden;
}
.recycle{
    position: absolute;
    width: 100%;
    left: 94%;
    margin: 20px 0;

}
.recycle img{
    width: 5%;
    z-index: 112px;
    cursor: pointer;
}

